# Excluding PyCharm Stuff
/.idea
/venv
# Ignore any cache files
/files/__pycache__
/files/scraper_utils/__pycache__
files/cache/*
!files/cache/.keep
# Ignore all the files created by the job scraper
files/customizations_backups/*
!files/customizations_backups/.keep
files/scrape_backups/*
!files/scrape_backups/.keep
/files/all_jobs.json
/files/all_jobs.json.old
# Ignore the logs made by the job scraper and flask
files/flask_logs/*
!files/flask_logs/.keep
files/scraper_logs/*
!files/scraper_logs/.keep
# Ignoring all stuff added to templates by the job scraper
/files/templates/*
# Except for the default templates used for the web gui
!/files/templates/Welcome Page/
!/files/templates/base.html.old
!/files/templates/customizations.html.old
!/files/templates/index.html.old
# NEW TEMPLATES
!/files/templates/index.html
!/files/templates/customizations.html
!/files/templates/statistics.html
!/files/templates/applications.html
/files/customizations.yaml
*.log
