# Project exclude paths
/venv/
files/logs/
files/scrape_backups/
files/daily_reports/
files/all_jobs.json
files/all_jobs.json.old
files/cache/*
!files/cache/KEEP
files/customizations_backups/*
!files/customizations_backups/KEEP
/files/templates/2022-04-22-20-7/
