# Excluding PyCharm
/venv/
files/cache/*
!files/cache/.keep
files/customizations_backups/*
!files/customizations_backups/.keep
files/flask_logs/*
!files/flask_logs/.keep
files/scraper_logs/*
!files/scraper_logs/.keep
# Ignoring all the stuff added to templates by the job scraper
/files/templates/*
!/files/templates/base.html
!/files/templates/customizations.html
!/files/templates/index.html
