<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JustOneMoreDog --- The Job Scraper</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='basket_icon.ico') }}">
    <style>
        nav a {
            color: #d64161;
            font-size: 2em;
            margin-left: 50px;
            text-decoration: none;
        }
        {% block extrastyle %}
        {% endblock %}
    </style>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/customizations">Customizations</a>
        <a href="#">Documentation</a>
    </nav>
    <hr>
    <p>
       Scraper   Is: {{ scraper_status['status'] }} <br>
       Running  For: {{ scraper_status['runtime'] }} <br>
       Next Run  In: {{ scraper_status['hours'] }} Hours <br>
    </p><br>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>