<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PicnicSecurity LinkedIn Job Scraper</title>
{#    <link rel="stylesheet" href='/static/main.css' />#}
    <style>
        nav a {
            color: #d64161;
            font-size: 2em;
            margin-left: 50px;
            text-decoration: none;
        }
        {% block extrastyle %}
        {% endblock %}
    </style>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/customizations">Customizations</a>
        <a href="#">Documentation</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
